@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

$bg-color: #0066FF;

.breaker {
    font-family: "Poppins", sans-serif;
    width: 100%;
    background: $bg-color;
    .row {
        margin: 0;
    }
    h1 {
        color: white;
        font-weight: 800;
        font-size: 55px;
        text-align: center;
        margin-top: 30px;
    }
    .guide {
        .container {
            margin-top: 10px;
            text-align: center;

            .section {
                vertical-align: middle;
                display: inline-block;
                align-items: center;
                position: relative;
                margin: 0 1%;
            }
            .sec {
                color: rgba(255, 255, 255, 0.7);
                font-weight: 700;
                font-size: 17.5px;
                width: 130px;
                .node {
                    margin: auto;
                    height: 80px;
                    width: 80px;
                    background-color: rgba(255, 255, 255, 0.7);
                    border-radius: 50%;
                    margin-bottom: 15px;
                    font-size: 25px;
                    color: white;
                    font-size: 20px;
                    line-height: 25px;
                    p {
                        padding-top: 15px;
                    }
                }
            }
            .prim {
                color: white;
                font-weight: 800;
                font-size: 25px;
                .node {
                    margin: auto;
                    height: 100px;
                    width: 100px;
                    background-color: white;
                    border-radius: 50%;
                    margin-bottom: 15px;
                    color: $bg-color;
                    font-size: 30px;
                    line-height: 35px;
                    p {
                        padding-top: 12.5px;
                    }
                }
            }
        }
    }

    .roadmap {
        background-color: rgba(255, 255, 255, 0.1);
        div {
            width: 100%;
            margin: auto;
            text-align: center;
        }
        .btn {
            margin-top: 60px;
            margin-bottom: 100px;
            font-size: 35px;
            font-weight: 700;
            background-color: $bg-color;
            height: 65px;
            width: 250px;
            border-radius: 15px;
            border-style: none;
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
        } 
        .btn-secondary:hover {
            box-shadow: 0 25px 35px rgba(0, 0, 0, 0.4);
            transition-duration: 0.15s;
        }
    }

    .community {
        div {
            margin: auto;
            margin-top: 40px;
            text-align: center;
        }
        .media {
            height: 80px;
            width: 80px;
            margin: 0 18px;
            background-color: white;
            border-radius: 50%;
            display: inline-block;
            margin-bottom: 50px;
            position: relative;
            text-align: center;
            justify-content: center;

            p {
                display: flex;
                justify-content: center;
                margin-top: 25px;
                color: white;
                font-weight:600;
                font-size: 25px;
            }

            img {
                margin-top: 15px;
                height: 60%;
                width: 60%;
            }
        }

        .email{
            img {
                padding: 5px 0;
            }
        }
    }
}