@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

$header-color: #0066FF;
$subtext-color: #919191;
$description-color: #C1C1C1;

.mid {
    font-family: "Poppins", sans-serif;
    .info-header-holder {
        width: 50%;
        display: flex;
        margin: auto;
        justify-content: center;
        text-align: center;
        margin-top: -15px;
    }

    h1 {
        color: $header-color;
        font-size: 275%;
        font-weight: 800;
    }
    margin-bottom: 50px;
    .card-container {
        .row {
            margin: 0 -50px;
        }
        .col {
            margin: 30px 0;
            .card {
                border-radius: 1rem !important;
                padding-bottom: 10px;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                border: none;
                .card-body {
                    //padding-left: 40px;
                    padding-top: 5%;
                    //height: 520px;
                    margin: auto;
                    .card-title-container {
                        padding-left: 10px;
                    }
                }

                .format {
                    margin-top: 0px;
                    margin-left: -15px;
                    background-color: $header-color;
                    width: 7.5px;
                    height: 65px;
                    float: left;
                    border-radius: 0 15px 0 15px;
                }

                .card-title {
                    font-size: 190%;
                    font-weight: 700;
                    width: 220px;
                    color: $header-color;
                    margin-bottom: 10px;
                    line-height: 100%;
                }

                .card-img-top {
                    padding-top: 15px;
                    padding: 5% 0;
                    margin-left: -2.3em;
                    width: 100%;
                }

                .globeIcon {
                    margin: auto;
                }

                .marketIcon {
                    margin: auto;
                }

                .governanceIcon {
                    margin: auto;
                }

                .card-text {
                    margin: auto;
                    margin-top: -50px;
                    font-size: 150%;
                    font-weight: 600;
                    color: $subtext-color;
                }
            }
        }
    }
    
    .learnContainer {
        width: 100%;
        margin: auto;
        text-align: center;
        margin-top: -10px;
        font-size: 30px;
        font-weight: 600;
        color: $header-color;
        margin-bottom: -20px;
        .btn {
            margin-top: -15px;
            font-size: 35px;
            font-weight: 700;
            background-color: $header-color;
            height: 65px;
            width: 250px;
            border-radius: 15px;
            border-style: none;
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
        }
        .btn-secondary:hover {
            box-shadow: 0 25px 35px rgba(0, 0, 0, 0.3);
            transition-duration: 0.15s;
        }
    }
}