@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

$background-color: #232323;
$header-color: #FFF;
$subtext-color: #919191;
$content-color: #0066FF;

.footer {
    font-family: "Poppins", sans-serif;
    width: 100%;
    background-color: $background-color;
    padding-bottom: 50px;
    .format {
        margin-top: 32.5px;
        margin-left: -15px;
        background-color: $content-color;
        width: 7.5px;
        height: 40px;
        float: left;
        border-radius: 0 15px 0 15px;
    }

    .container {
        margin-left: 5%;
        width: 90%;
    }

    p {
        padding-top: 30px;
        font-size: 200%;
        font-weight: 700;
        margin-bottom: 0px;
        color: $header-color;
    }

    ul {
        li {
            a {
                font-size: 125%;
                padding: 5px 0;
                width: 45%;
                line-height: 150%;
                color: $subtext-color;
                font-weight: 500;
            }

            a:hover {
                color: $header-color;
                font-weight: 700;
                text-shadow: #000;
                cursor: pointer;
                transition-duration: 0.15s;
            }
        }
    }
}