@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$active-color: #0066FF;
$inactive-color: #919191;

.topbar {
    padding: 1% 5%;
    .navbar-brand {
        float: center;
    }
    img {
        height: 75px;
    }
}

.navbar {
    margin-top: -10px;
}

.navbar-toggler-icon {
    color: rgba(0, 0, 0, 0.5);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-item-container {
    li {
        color: $inactive-color;
        padding: 0 10px;
        font-size: 125%;
        font-weight: 800;

        a:hover {
            color: $active-color !important;
            cursor: pointer;
            transition-duration: 0.3s;
        }
    }
}