$primary-color: #0066FF;
$subtext-color: #919191;

.crowdsale-container {
    text-align: center;
    .primary {
        color: $primary-color;
    }
    .subtext {
        margin: 0;
        color: $subtext-color;
        font-weight: 800;
    }
    h1 {
        &.primary {
            font-weight: 800;
            font-size: 40px;
        }
    }
    p {
        &.primary {
            font-weight: 800;
            font-size: 20px;
        }
        &.subtext {
            font-size: 20px;
        }
    }
    .bar {
        img {
            height: 680px;
        }
    }
    .sub-bar {
        margin: 0 20%;
        float: center;
        text-align: left;
        img {
            height: 70px;
            float: left;
        }
        h1 {
            font-size: 30px;
            margin-bottom: 0;
            margin-left: 2.55em;
        }
        p {
            font-size: 25px;
            padding-left: 3.1em;
        }
    }
    .sale-breaker {
        background-color: $primary-color;
        h1 {
            color: white;
        }
        p {
            color: white;
        }
    }
}