@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

$primary-color: #0066FF;
$secondary-color: #919191;

.governance-container {
    font-family: "Poppins", sans-serif;
    text-align: center;
    h1 {
        margin-top: 150px;
        color: $primary-color;
        font-weight: 800;
        font-size: 4em;
    }
    h2 {
        margin: 20px 0;
        color: $secondary-color;
        font-weight: 600;
        font-size: 2em;
        padding: 0 20%;
        margin-bottom: 130px;
    }
    
    background-image: image();
}