@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

.roadmap-container {
    font-family: "Poppins", sans-serif;
    width: 100%;
    text-align: center;
    img {
        height: 45em;
    }
}