@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

$primary-color: #0066FF;
$secondary-color: #919191;

.indexes-container {
    font-family: "Poppins", sans-serif;
    text-align: left;
    margin-top: 90px;
    h1 {
        margin-left: 6%;
        margin-top: 60px;
        color: $primary-color;
        font-weight: 800;
        font-size: 40px;
    }
    h2 {
        margin: 10px 0;
        color: $secondary-color;
        font-weight: 600;
        font-size: 175%;
        padding: 0 6%;
    }
    margin-bottom: 120px;
}